<?php
return [
    'backend' => [
        'frontName' => '{{ magento_env_admin_path }}'
    ],
    'crypt' => [
        'key' => '{{ magento_env_crypt_key }}'
    ],
    'db' => [
        'table_prefix' => '',
        'connection' => [
            'default' => [
                'host' => '{{ magento_env_db_host }}',
                'dbname' => '{{ magento_env_db_dbname }}',
                'username' => '{{ magento_env_db_username }}',
                'password' => '{{ magento_env_db_password }}',
                'model' => 'mysql4',
                'engine' => 'innodb',
                'initStatements' => 'SET NAMES utf8;',
                'active' => '1',
                'driver_options' => [
                    1014 => false
                ]
            ]
        ]
    ],
    'resource' => [
        'default_setup' => [
            'connection' => 'default'
        ]
    ],
    'x-frame-options' => 'SAMEORIGIN',
    'MAGE_MODE' => '{{ magento_env_mage_mode }}',
    'session' => [
        'save' => 'redis',
        'redis' => [
            'host' => '{{ magento_env_redis_session_host }}',
            'port' => '{{ magento_env_redis_session_port }}',
            'password' => '{{ magento_env_redis_session_password }}',
            'timeout' => '2.5',
            'persistent_identifier' => '',
            'database' => '{{ magento_env_redis_session_db }}',
            'compression_threshold' => '2048',
            'compression_library' => 'gzip',
            'log_level' => '3',
            'max_concurrency' => '{{ magento_env_redis_session_max_concurrency }}',
            'break_after_frontend' => '5',
            'break_after_adminhtml' => '30',
            'first_lifetime' => '600',
            'bot_first_lifetime' => '60',
            'bot_lifetime' => '7200',
            'disable_locking' => '1',
            'min_lifetime' => '60',
            'max_lifetime' => '2592000',
            'sentinel_master' => '',
            'sentinel_servers' => '',
            'sentinel_connect_retries' => '5',
            'sentinel_verify_master' => '0'
        ]
    ],
    'cache' => [
        'frontend' => [
            'default' => [
                'id_prefix' => '{{ magento_env_redis_cache_id_prefix }}',
                'backend' => 'Cm_Cache_Backend_Redis',
                'backend_options' => [
                    'server' => '{{ magento_env_redis_cache_host }}',
                    'database' => '{{ magento_env_redis_cache_default_db }}',
                    'port' => '{{ magento_env_redis_cache_port }}',
                    'password' => '{{ magento_env_redis_cache_password }}',
                    'compress_data' => '1',
                    'compression_lib' => 'gzip'
                ]
            ],
            'page_cache' => [
                'id_prefix' => '{{ magento_env_redis_cache_id_prefix }}',
                'backend' => 'Cm_Cache_Backend_Redis',
                'backend_options' => [
                    'server' => '{{ magento_env_redis_cache_host }}',
                    'database' => '{{ magento_env_redis_cache_page_cache_db }}',
                    'port' => '{{ magento_env_redis_cache_port }}',
                    'password' => '{{ magento_env_redis_cache_password }}',
                    'compress_data' => '1',
                    'compression_lib' => 'gzip'
                ]
            ]
        ]
    ],
    'queue' => [
        {% if magento_env_rabbitmq_enabled %}
        'amqp' => [
            'host' => '{{ magento_env_rabbitmq_host }}',
            'port' => '{{ magento_env_rabbitmq_port }}',
            'user' => '{{ magento_env_rabbitmq_username }}',
            'password' => '{{ magento_env_rabbitmq_password }}',
            'virtualhost' => '/'
        ]
        {% else %}
        'consumers_wait_for_messages' => 1
        {% endif %}
    ],
    'cron_consumers_runner' => [
        'cron_run' => {{ magento_env_cron_consumers_runner.cron_run | default(true) }},
        'max_messages' => {{ magento_env_cron_consumers_runner.max_messages | default(10000) }},
    {% if magento_env_cron_consumers_runner is defined and magento_env_cron_consumers_runner.consumers %}
    'consumers' => [
        {% for consumer in magento_env_cron_consumers_runner.consumers %}
        '{{ consumer }}',
        {% endfor %}
    ],
    {% endif %}
    ],
    'lock' => [
        'provider' => 'db',
        'config' => [
            'prefix' => ''
        ]
    ],
    'cache_types' => [
        'config' => 1,
        'layout' => 1,
        'block_html' => 1,
        'collections' => 1,
        'reflection' => 1,
        'db_ddl' => 1,
        'compiled_config' => 1,
        'eav' => 1,
        'customer_notification' => 1,
        'config_integration' => 1,
        'config_integration_api' => 1,
        'google_product' => 1,
        'full_page' => 1,
        'config_webservice' => 1,
        'translate' => 1,
        'vertex' => 1,
        'amasty_shopby' => 1
    ],
    'directories' => [
        'document_root_is_pub' => '{{ magento_env_document_root_is_pub }}'
    ],
    'downloadable_domains' => [
        '{{ magento_env_downloadable_domains }}'
    ],
    'install' => [
        'date' => '{{ magento_env_install_date }}'
    ],
    {% if magento_env_http_cache_host %}
    'http_cache_hosts' => [
        [
            'host' => '{{ magento_env_http_cache_host }}',
            'port' => '{{ magento_env_http_cache_port }}'
        ]
    ],
    {% endif %}
    'MAGE_INDEXER_THREADS_COUNT' => '{{ magento_env_mage_indexer_threads_count }}'
];
